{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "padded-blocks": 0
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
